.sideBar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(85, 158, 231);
    transition: all 400ms ease-in-out;
    overflow: hidden;

    &:hover {
        width: 260px;
    }
}
